body, h1, h2, h3, h4, h5, h6, p
	font-family "Roboto",sans-serif !important
body
	font-size 14px
body
	background #f8f9fa
*
	cursor default !important
#_app
	pointer-events none
._sideLeft
	width 20%
	pointer-events auto
._sideCenter
	pointer-events none
	> *
		pointer-events auto
._sideRight
	width 20%
	pointer-events auto
@keyframes _fadeIn
	from
		transform scale(.95)
		opacity 0
	to
		transform scale(1)
		opacity 1
@keyframes _fadeOut
	from
		transform scale(1)
		opacity 1
	to
		transform scale(.95)
		opacity 0
[data-_mark]
	box-shadow 0 0 0 2px #07d !important
._wiki
	.mw-page-container
		background #f8f9fa
	.mw-body-content
		font-size 1em
	.mwe-popups
		border-radius 8px
		overflow hidden
		box-shadow 0 2px 4px #888c,0 8px 16px 4px #8883
		pointer-events none
		footer
			display none
	.mwe-popups-fade-in-up
	.mwe-popups-fade-in-down
		animation _fadeIn .1s forwards
	.mwe-popups-fade-out-up
	.mwe-popups-fade-out-down
		animation _fadeOut .1s forwards
	.thumbinner
		border-radius 8px
		img
			border-radius 6px
		.magnify
			display none
	._summImg
		max-width 100%
		max-height 240px

._row
	display flex
	flex-direction row
._column
	display flex
	flex-direction column
._col
	flex-grow 1
._col0
	flex-shrink 0
for i in range(1, 12)
	val = floor(i / 12 * 100%, 2)
	._row > ._col{i}
		width val
	._column > ._col{i}
		height val
	val = floor(100% / i, 2)
	._row{i}
		display grid
		grid-template-columns repeat(i,1fr)
		> ._col{i}
			grid-column span (i)
._full
	position absolute
	left 0
	top 0
	width 100%
	height 100%
._wrap
	flex-wrap wrap
._nowrap
	flex-wrap nowrap
for dir in row column
	._{dir}
		prop = dir is row ? "justify-content" : "align-items"
		&._start
			{prop} flex-start
		&._center
			{prop} center
		&._end
			{prop} flex-end
		prop = dir is row ? "align-items" : "justify-content"
		&._top
			{prop} flex-start
		&._middle
			{prop} center
		&._bottom
			{prop} flex-end
._between
	justify-content space-between
._around
	justify-content space-around
._evenly
	justify-content space-evenly
._stretch
	align-items stretch
props = {p: padding, m: margin}
sides = {t: top, r: right, b: bottom, l: left}
sizes = 32px 16px 8px 4px 2px 0
for size, i in sizes
	._gap{5 - i}
		grid-gap size
for p, prop in props
	for size, i in sizes
		i = 5 - i
		hasNegate = p is m and i
		._{p}{i}
			{prop} size
		if hasNegate
			._-{p}{i}
				{prop} -(size)
		._{p}x{i}
			{prop}-left size
			{prop}-right size
		._{p}y{i}
			{prop}-top size
			{prop}-bottom size
		if hasNegate
			._-{p}x{i}
				{prop}-left -(size)
				{prop}-right -(size)
			._-{p}y{i}
				{prop}-top -(size)
				{prop}-bottom -(size)
		for s, side in sides
			._{p}{s}{i}
				{prop}-{side} size
			if hasNegate
				.-_{p}{s}{i}
					{prop}-{side} -(size)
for pos in absolute relative fixed
	._{pos}
		position pos
for dis in block inline-block inline flex inline-flex
	._{dis}
		display dis
._w100
	width 100%
._h100
	height 100%
._hidden, [hidden]
	display none
aligns = {left: Left, center: Center, right: Right, justify: Justify}
for align, a in aligns
	._text{a}
		text-align unquote(align)
._textNowrap
	white-space nowrap
	word-break break-word
._textTtruncate
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	word-break break-word
._textBold
	font-weight 700
._textItalic
	font-style italic
small
._textSmall
	font-size smaller
._scroll
	overflow auto
._scrollY
	overflow-x hidden
	overflow-y auto
._noscroll
	overflow hidden
._event
	pointer-events auto
._noevent
	pointer-events none
._round
	border-radius 8px
._textGreen
	color #2a3
._textRed
	color #f43
._bgWhite
	background #fff
